.active {
  color: gold;
}

.item a {
  float: right;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  padding-top: 25px;
  padding-right: 30px;
}

.itemPic {
  margin: 10px;
  float: left;
  width: 70px;
}
