.sidebartoggle {
  grid-area: stb;
  background-color: darkmagenta;
}

.logo{
  width: 90px;
  float: left;
}

.companyname{
  margin-top: 28px;
  color: rgb(227, 200, 252);
  font-size: xx-large;
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}