.menupic {
  width: 50px;
}

.menulink {
  margin: 20px;
}

.item {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(227, 200, 252);
  font-size: x-large;
}
