.loginbutton {
  color: rgb(255, 230, 254);
  background-color: rgb(232, 0, 190);
  border-radius: 20px;
  width: 100px;
  height: 35px;
  float: right;
  margin-top: 26px;
  margin-right: 125px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
}
