.app-wrapper {
  display: grid;
  margin: 0 auto;

  grid-template-columns: 205px 1fr;
  grid-template-rows: 88px 1fr;

  grid-template-areas:
    "stb h"
    "n c";
}

.app-wrapper-content{
  grid-area: c;
  background-color: blanchedalmond;
}
