.app-wrapper {
  display: grid;
  margin: 0 auto;

  grid-template-rows: 89px 1fr;
  grid-template-columns: 210px 1fr;

  grid-template-areas: 
  "l h"
  "n c";
}

.app-wrapper-content{
    grid-area: c;
    background-color: cornsilk;
}
