.app-wrapper {
  display: grid;

  margin: 0 auto;

  grid-template-rows: 88px 1fr;
  grid-template-columns: 210px 1fr;

  grid-template-areas:
    "stb h"
    "n p";
}

.app-wrapper-content {
  grid-area: p;
  background-color: rgb(255, 226, 231);
}
